<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Justice Inn</title>

    <meta name="description" content="Justice Inn - Legal Website" />
    <meta name="keywords" content="Justice Inn, Consertium, Lawyears, Legal, online Nikkah, Child Custoday, Corporate Lawyears, Criminal Matters, Online Divorce, NAB, Consumer Court, Medical Negligence, FIR & Police Assistance, Labour Rights, Inheritence & Succession Certificate" />
    <meta name="author" content="" />
    <link href="~/content/assets/images/logo.png" rel="icon">

    @*@Styles.Render("~/Content/CustomCss")
    @Styles.Render("~/Content/OwlCarousel")*@

    @Styles.Render("~/Content/Devcss3")
    @Styles.Render("~/Content/Devcss")

     @*Vendor Css*@
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/assets/css/LineIcons.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/swiper.css" />
    <link rel="stylesheet" href="~/Content/OwlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/OwlCarousel/dist/assets/owl.theme.default.min.css">

     @*Template style Css*@ 
    <link href="~/Content/assets/css/style-dark.css" rel="stylesheet">     
    <link href="~/Content/assets/css/custom.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".navbar">
    <div id="preloader" class="preloader">
        <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- END: Preloader -->
    <!-- START: Aside -->
    <aside class="aside">
        <!-- START: NAVBAR -->
        <div class="nav-wrapper">
            <div class="navbar-toggler">
                <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="40">
                    <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
                    <path class="line middle" d="m 30,50 h 40" />
                    <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
                </svg>
            </div>
            <nav class="navbar">
                <div class="collapse navbar-collapse show" id="navbarCollapse">

                    <div class="about-avatar mb-3 drop">
                        <a href='@Url.Action("Index","Home")'>
                            <img src="~/content/assets/images/logo.png" alt="" class="img-fluid mx-auto d-block shadow-sm rounded-full">
                        </a>
                    </div>
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            @*@Html.ActionLink(Resources.Global.Home_Menu, "Index", "Home", new { @class = "nav-link text-underline lni lni-star-filled" })*@

                            <a class="nav-link text-underline" href='@Url.Action("Index","Home")'><i class="lni lni-star-filled"></i>@Resources.Global.Home_Menu</a>
                        </li>
                        <li class="nav-item">
                            @*@Html.ActionLink(Resources.Global.Aboutus_Menu, "About", "Home", new { @class = "nav-link text-underline lni lni-star-filled" })*@

                            <a class="nav-link text-underline" href='@Url.Action("About","Home")'><i class="lni lni-star-filled"></i>@Resources.Global.Aboutus_Menu</a>
                        </li>
                        <li class="nav-item">
                            @*@Html.ActionLink(Resources.Global.Services_Menu, "Services", "Home", new { @class = "nav-link text-underline lni lni-star-filled" })*@

                            <a class="nav-link text-underline" href='@Url.Action("Services","Home")'><i class="lni lni-star-filled"></i>@Resources.Global.Services_Menu</a>
                        </li>
                        <li class="nav-item">
                            @*@Html.ActionLink(Resources.Global.LatestNews_Menu, "News", "Home", new { @class = "nav-link text-underline lni lni-star-filled" })*@

                            <a class="nav-link text-underline" href="#"><i class="lni lni-star-filled"></i>@Resources.Global.LatestNews_Menu</a>
                        </li>
                        <li class="nav-item">
                            @*@Html.ActionLink(Resources.Global.Certifications_Menu, "Certifications", "Home", new { @class = "nav-link text-underline lni lni-star-filled" })*@

                            <a class="nav-link text-underline" href="#"><i class="lni lni-star-filled"></i>@Resources.Global.Certifications_Menu</a>
                        </li>
                        <li class="nav-item">
                            @*@Html.ActionLink(Resources.Global.Blogs_Menu, "Blogs", "Home", new { @class = "nav-link text-underline lni lni-star-filled" })*@

                            <a class="nav-link text-underline" href="#"><i class="lni lni-star-filled"></i>@Resources.Global.Blogs_Menu</a>
                        </li>
                        <li class="nav-item">
                            @*@Html.ActionLink(Resources.Global.ContactUs_Menu, "Index", "Home", new { @class = "nav-link text-underline lni lni-star-filled" })*@

                            <a class="nav-link text-underline" href='@Url.Action("Contact","Home")'><i class="lni lni-star-filled"></i>@Resources.Global.ContactUs_Menu</a>
                        </li>
                    </ul>
                    <div class="nav-number mt-4">
                        <label class="color-primary">@Resources.Global.Call_Us_At</label>
                        <p>@Resources.Global.Contact_Numbers</p>
                    </div>
                </div>
                <div class="aside-footer mt-5">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item mr-2"><a href="#"><i class="lni lni-facebook-filled border-radius-icons"></i></a></li>
                        <li class="list-inline-item mr-2"><a href="#"><i class="lni lni-twitter-filled border-radius-icons"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="lni lni-instagram-original border-radius-icons"></i></a></li>
                    </ul>
                    <p class="copyright-text">@Resources.Global.Copyrights</p>
                </div>
            </nav>
        </div>
        <!-- END: NAVBAR -->
    </aside>
    <!-- START: Aside -->

    @RenderBody()

    <div class="page-wrapper">
        <footer class="footer section-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="compnay-about-footer">
                            <h4 class="footer-title">@Resources.Global.Aboutus_Menu</h4>
                            <p>@Resources.Global.AbtUs_ParaText</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="compnay-about-footer">
                            <h4 class="footer-title">@Resources.Global.SiteMap</h4>
                            <ul class="footer-list">
                                <li><a href="#"><i class="lni lni-chevron-right"></i>@Resources.Global.Home_Menu</a></li>
                                <li><a href="#"><i class="lni lni-chevron-right"></i>@Resources.Global.Aboutus_Menu</a></li>
                                <li><a href="#"><i class="lni lni-chevron-right"></i>@Resources.Global.Services_Menu</a></li>
                                <li><a href="#"><i class="lni lni-chevron-right"></i>@Resources.Global.LatestNews_Menu</a></li>
                                <li><a href="#"><i class="lni lni-chevron-right"></i>@Resources.Global.Certifications_Menu</a></li>
                                <li><a href="#"><i class="lni lni-chevron-right"></i>@Resources.Global.Blogs_Menu</a></li>
                                <li><a href="#"><i class="lni lni-chevron-right"></i>@Resources.Global.ContactUs_Menu</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="compnay-about-footer">
                            <h4 class="footer-title">@Resources.Global.Locations</h4>
                            <div class="location-content">
                                <h6>@Resources.Global.Office-1</h6>
                                <p>1-Mazang Road Al-Qadar Center G/F Lahore High Court Lahore</p>
                                <h6 class="mt-2">@Resources.Global.Office-2</h6>
                                <p>22 G/1 Johar Town Opp. Doctor Hospital Lahor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6799.430667059567!2d74.31098902304791!3d31.559426117468675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39191caa75e3a9ad%3A0x60cb7b9856bd91f!2sAl-Qadar%20Centre!5e0!3m2!1sen!2s!4v1626076691535!5m2!1sen!2s" width="100%" height="250" style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <section style="background-color: #001441; padding: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-section">
                            <p class=" text-center" style="color: white;">&copy; @Resources.Global.Copyrights</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <!-- JAVASCRIPTS -->
    <!--<script src="~/Content/assets/js/vendor.js"></script>-->
    <!-- Custom Js -->
    <!--<script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Content/OwlCarousel/dist/owl.carousel.min.js"></script>-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/Customjs")
    @Scripts.Render("~/bundles/Devscripts")
    <script type="~/Content/text/javascript">
        $('.owl-carousel').owlCarousel({
                    loop:true,
                    margin:10,
                    nav:true,
                    autoplay:true,
                    autoplayTimeout:6000,
                    autoplayHoverPause:true,
                    dots:false,
                    responsiveClass:true,
                    responsive:{
                        0:{
                            items:1,
                            nav:true
                        },
                        600:{
                            items:1,
                            nav:false
                        },
                        1000:{
                            items:2,
                            nav:true,
                            loop:false
                        }
                    }
                })</script>


    @RenderSection("scripts", required: false)
</body>
</html>
